API_PORT=api_port
API_SERVER_URL=server_url

API_DB_HOST=db_host
API_DB_PORT=db_port
API_DB_USER=db_user
API_DB_PASS=db_pass
API_DB_NAME=db_name
API_DB_DIALECT=db_dialect

API_SECRET_WORD=secret_word

API_ADMIN_USERNAME=admin_username
API_ADMIN_PASSWORD=admin_password
API_ADMIN_EMAIL=admin_email

API_EMAIL_USER=email_user
API_EMAIL_PWD=email_pwd
API_EMAIL_KEY='Resend API Key'

MAIL_HOST=mail_host
MAIL_PORT=mail_port

AWS_BUCKET_NAME=aws_bucket_name
AWS_BUCKET_REGION=aws_bucket_region
AWS_PUBLIC_KEY=aws_public_key
AWS_SECRET_KEY=aws_secret_key